@import url("../css/header.css");
@import url("../css/footer.css");

body {
  background-color: #f6a9c3;
}
.autocuidado {
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #a34a67;
}
