@import url("../css/header.css");
@import url("../css/footer.css");
@font-face {
  font-family: "LostaMasta-Light";
  src: url("../fonts/LostaMasta-Light.otf") format("opentype");
}
@font-face {
  font-family: "marigny-medium-italic";
  src: url("fonts/marigny-medium-italic.ttf") format("truetype");
}
@font-face {
  font-family: "marigny-thin";
  src: url("fonts/marigny-thin.ttf") format("truetype");
}
body {
  background-color: #f6a9c3;
}
.autocuidado {
  padding-bottom: 30px;
  font-family: "LostaMasta-Light";
}

#tarjetas-container {
  border-radius: 10px;

  color: #a34a67;
}
#tarjetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}
img {
  border-radius: none;
}
