@import url("../css/header.css");
@import url("../css/footer.css");
@font-face {
  font-family: "LostaMasta-Light";
  src: url("fonts/LostaMasta-Light.otf") format("opentype");
}

body {
  background-color: #f6a9c3;
}
.autocuidado {
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;

  color: #a34a67;
}
img {
  border-radius: none;
}
