@import url("../css/header.css");
@import url("../css/footer.css");
:root {
  --texto-body: rgb(248, 196, 224);
}
body {
  background-color: var(--texto-body);
}

.autocuidado {
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  background-color: rgb(245, 202, 226);
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #a34a67;
}
