@import url("../css/header.css");
@import url("../css/footer.css");
:root {
  --color-body: #facfdd;
}

body {
  background-color: var(--color-body);
}
.autocuidado {
  padding-bottom: 30px;
  font-family: Georgia, "Times New Roman", Times, serif;
}

span {
  padding: 10px;
  border-radius: 10px;
  font-size: 36px;
  color: #a34a67;
}
