:root {
  --color-footer-fondo: rgb(243, 181, 227);
  --color-social-texto: rgb(255, 194, 237);
  --color-social-fondo: rgb(216, 122, 200);
  --color-links: rgb(158, 67, 143);
  --color-copy-fondo: rgb(233, 157, 216);
  --color-copy-texto: rgb(131, 49, 131);
}

main {
  flex: 1;
}
footer {
  background-color: var(--color-footer-fondo);
  display: flex;
  flex-direction: column;
  text-align: center;
}
a {
  text-decoration: none;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
}

footer .social a {
  color: var(--color-social-texto);
  background-color: var(--color-social-fondo);
  padding: 5px;
  border-radius: 50%;
}
footer .social a i {
  font-size: 20px;
  transition: all 0.3s ease;
}
footer .social a i:hover {
  transform: translateY(-2px);
}
footer .nav-section {
  margin-bottom: 15px;
}
footer .nav-section nav {
  display: flex;
  justify-content: center;
  gap: 35px;
}
footer .nav-section nav a {
  color: var(--color-links);
}
.copy {
  padding: 15px 0;
  background-color: var(--color-copy-fondo);
  color: var(--color-copy-texto);
}
@media (max-width: 430px) {
  .nav-section nav {
    flex-direction: column;
  }
}
