@font-face {
  font-family: "LostaMasta-Light";
  src: url("fonts/LostaMasta-Light.otf") format("opentype");
}
@font-face {
  font-family: "marigny-medium-italic";
  src: url("fonts/marigny-medium-italic.ttf") format("truetype");
}
@font-face {
  font-family: "marigny-thin";
  src: url("fonts/marigny-thin.ttf") format("truetype");
}
:root {
  --color-footer-fondo: rgb(253, 211, 241);
  --color-social-texto: rgb(247, 228, 241);
  --color-social-fondo: rgb(248, 155, 212);
  --color-links: rgb(248, 155, 192);
  --color-copy-fondo: rgb(247, 172, 213);
  --color-copy-texto: rgb(68, 64, 65);
}

main {
  flex: 1;
}
footer {
  background-color: var(--color-footer-fondo);
  display: flex;
  flex-direction: column;
  text-align: center;
}
a {
  text-decoration: none;
}
footer .social {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 15px 0;
}

footer .social a {
  color: var(--color-social-texto);
  background-color: var(--color-social-fondo);
  padding: 8px 10px 8px 10px;
  border-radius: 60%;
}
footer .social a i {
  font-size: 20px;
  transition: all 0.3s ease;
}
footer .social a i:hover {
  transform: translateY(-2px);
}

footer .nav-section nav {
  display: flex;
  justify-content: center;
  gap: 35px;
}
footer .nav-section nav a {
  color: var(--color-links);
}
.copy {
  padding: 15px 0;
  background-color: var(--color-copy-fondo);
  color: var(--color-copy-texto);
}
@media (max-width: 430px) {
  .nav-section nav {
    flex-direction: column;
  }
}
