@import url("../css/header.css");
@import url("../css/footer.css");
@font-face {
  font-family: "LostaMasta-Light";
  src: url("fonts/LostaMasta-Light.otf") format("opentype");
}
@font-face {
  font-family: "marigny-medium-italic";
  src: url("fonts/marigny-medium-italic.ttf") format("truetype");
}
@font-face {
  font-family: "marigny-thin";
  src: url("fonts/marigny-thin.ttf") format("truetype");
}
body {
  background: radial-gradient(#ecc6e9b0 10%, #f6a9c3 100%) !important;
}

.container {
  background: #facfdd;
  padding: 35px;
  border-radius: 10px;
  height: 100%;
}

/* FLEX ITEMS */
.quienes-somos,
.logotipo {
  flex: 1 1 45%; /* Toman espacio igual */
  min-height: 100%; /* Mismo alto */
  display: flex; /* Para alinear contenido */
}

/* TEXTO */
.quienes-somos {
  color: #5c3d57;
  background: #facfdd;
  border-radius: 10px;
}

.quienes-somos h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 36px;
  color: #a34a67;
}

.quienes-somos p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 0;
}

/* IMAGEN */
.icon {
  max-width: 100%;
  border-radius: 10px;
  height: auto;
}

/* RESPONSIVE (STACK EN MÓVILES) */
@media (max-width: 767px) {
  .d-flex {
    flex-direction: column;
  }

  img {
    width: 420px;
  }

  .quienes-somos,
  .logotipo {
    min-height: auto;
  }

  .quienes-somos h2 {
    font-size: 26px;
  }
}
