@import url("../css/header.css");
@import url("../css/footer.css");

body {
  background: radial-gradient(#ecc6e9b0 10%, #fa9acb 100%) !important;
}

.container {
  background: #f3c5e3;
  padding: 35px;
  border-radius: 10px;
}

.quienes-somos {
  /*background-color: #eaa3f3;*/
  color: #5c3d57;
}

.quienes-somos h2 {
  font-family: "Fraunces", sans-serif;
  font-size: 36px;
  color: #a34a67;
}

.quienes-somos p {
  font-size: 1.1rem;
  line-height: 1.7;
}

.icon {
  width: 35%;
  margin-top: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border-bottom: 9px solid #ce5f98;
  border-top: 9px solid #ce5f98;
  background-color: aliceblue;
}

@media (max-width: 500px) {
  .quienes-somos h2 {
    font-size: 26px;
  }
}
/* Adaptacion de tablet */
@media (min-width: 700px) {
  .quienes-somos h2 {
    font-size: 36px;
  }
  .card {
    height: 690px;
  }
}
