.slider {
  position: relative;
  overflow: hidden;
  height: 400px;
}

.slides {
  display: flex;
  transition: transform 0.8s ease;
}

.slide {
  min-width: 100%;
  position: relative;
  text-align: center;
}

.slide img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.slide .text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);

  padding: 15px 25px;
  border-radius: 20px;
}

.slide h2 {
  color: #db2777;
  font-family: "Pacifico", cursive;
  font-size: 24px;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  background: #e25a87;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
}

.prev {
  left: 15px;
  width: auto;
}
.next {
  right: 15px;
  width: auto;
}

.services {
  text-align: center;
  padding: 20px 20px;
  background: rgb(250, 230, 230);
}
.objetivos-container {
  text-align: center;
  color: #e25a87;
  font-family: "Pacifico", cursive;
  font-size: 38px;
  margin-bottom: 20px;
}

.services h3 {
  color: #db2777;
  font-family: "Pacifico", cursive;
  font-size: 38px;
  margin-bottom: 40px;
}
.services .card h3 {
  color: #db2777;
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin: 10px;
}
.services span {
  font-family: "Open Sans", sans-serif;
  color: #353535;
  font-weight: 400;
  font-size: 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.ision {
  background: #facbd6;
  border-width: 2px;
  border-color: rgb(252, 123, 187);
  border-radius: 20px;
  padding: 25px;
  width: 400px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.ision:hover {
  transform: translateY(-5px);
  box-shadow: 0 5px 15px rgba(31, 30, 30, 0.226);
}

.ision img {
  width: 60px;
}

.ision a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #fff;
  background: #e25a87;
  padding: 6px 15px;
  border-radius: 15px;
}

.team {
  background: #e25a87;
  color: #fff;
  text-align: center;
  padding: 20px 20px;
}

.team h3 {
  font-family: "Pacifico", cursive;
  font-size: 28px;
  margin-bottom: 40px;
}

.members {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.member img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin-bottom: 10px;
  transition: transform 0.3s;
}

.member img:hover {
  transform: scale(1.1);
}

.caracteristicas {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}

.objetivos-container {
  text-align: center;
  font-size: 32px;
  color: #db2777;
  margin-bottom: 30px;
}

.grid-cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.caracteristica {
  border: 2px solid rgb(252, 123, 187);
  border-radius: 12px;
  padding: 20px;
  background-color: #fff;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: #facbd6;
}

.caracteristica:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(244, 168, 193, 0.4);
}

.caracteristica h6 {
  color: #db2777;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.caracteristica p {
  color: #3d3d3d;
  font-size: 0.95rem;
  line-height: 1.4;
}

#menu {
  display: none;
}

.hamburguesa {
  display: none;
  font-size: 28px;
  cursor: pointer;
}

@media (max-width: 500px) {
  .img-ajustada {
    max-width: 50%;
    height: auto;
  }
}

@media (min-width: 992px) {
  .img-ajustada {
    max-width: 85%;
    display: block;
    margin: 0 auto;
  }

  .lead {
    font-size: 1.25rem;
    line-height: 1;
  }
}
main {
  background: rgb(250, 230, 230);
}
@media (max-width: 1024px) {
  .slider {
    height: 300px;
  }

  .slide img {
    height: 300px;
    object-fit: cover;
  }

  .slide h2 {
    font-size: 20px;
  }

  .prev,
  .next {
    padding: 8px 12px;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.slides-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
  text-align: center;
  color: rgb(255, 255, 255);
  /*background-color: #e45c9b;*/

}

.hero-text h1 {
  font-size: 2.7rem;
  font-weight: 600;
  margin-bottom: 10px;
  text-shadow: 0 -2px 10px #630430;

}

.hero-text p {
  font-size: 1.2rem;
  opacity: 0.95;
  text-shadow: 0 -2px 10px #66020a;


}

.slides {
  display: flex;
  width: 100%;
  height: 100%;
}

.slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
