.perfil-card {
  width: 90%;
  max-width: 450px;
  margin: 30px auto;
  padding: 20px;
  background: #fff0f7;
  border-radius: 18px;
  text-align: center;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}
.perfil-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.perfil-avatar img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  object-fit: cover;
  border: 3px solid #ff8cb7;
  margin-bottom: 15px;
}

.avatar-selector {
  display: flex;
  gap: 10px;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.opcion-avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid transparent;
  transition: transform 0.2s, border-color 0.2s;
}

.opcion-avatar:hover {
  transform: scale(1.1);
}

.seleccionado {
  border-color: #ff4f94;
}

.upload-btn {
  display: inline-block;
  background: #ff8cb7;
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  margin-bottom: 20px;
}

.upload-btn input {
  display: none;
}

.favoritos-musica {
  background: #ffe6ef;
  padding: 10px;
  border-radius: 12px;
}

.song-item {
  padding: 8px;
  background: #fff;
  margin: 5px 0;
  border-radius: 10px;
}

.sin-musica {
  color: #777;
}
